/* Admin CSS */

/**
* ctc_init_display_none - hide initially, if need display later based on settings
*/

.show-hide_display-none,
.not_samesettings,
.show_settings,
.hide_settings,
.ctc_init_display_none {
    display: none; 
}
  
.options .submit {
    position: sticky !important;
    bottom: 1px;
    float: right;
    z-index: 9;
}

.options .submit input {
    letter-spacing: 0.4px;
    padding: 2px 11px;
}

.description.ht_ctc_pro_description {
    /* border-left: 5px solid yellowgreen; */
    border-left: 5px solid lightseagreen;
    padding: 5px 5px 5px 14px;
    margin: 19px 0;
}

.description.ht_ctc_subtitle {
    border-left: 5px solid lightseagreen;
    /* padding: 5px 5px 5px 14px; */
    padding-left: 0.9rem;
    margin: 5px 0;
}

.description.ht_ctc_pro_subtitle {
    border-left: 5px solid darkseagreen;
    /* padding: 5px 5px 5px 14px; */
    padding-left: 0.9rem;
    margin: 5px 0;
}

@media only screen and (min-width: 1201px) {
    .sticky-sidebar {
        position: sticky !important;
        top: 100px;
        float: right;
    }

    .sticky-sidebar .sidebar-content {
        margin-top: 70px; 
        margin-left: 80px;
    }
}